<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand">Doppelganger</a>
</nav>

<!-- Register Modal -->
<div id="registerModal">
    <!-- Register Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Registration Form</h4>
            <button type="button" class="close" data-dismiss="registerModal">&times;</button>
        </div>
        <div class="modal-body">
            <form class="signup" action="POST">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email-create-input">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password-create-input">
                </div>
                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>
                
                <button type="submit" class="btn btn-success">Register</button>
            </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>

</div>
</div>

<!-- Log In Main Section -->
<div class="containerlog">
    <div class="login">
        <h2>Login</h2>
        <form class="login">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email-login-input">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password-login-input">
            </div>
            {{!-- <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div> --}}
            <br>
            <button type="submit" class="btn btn-success btn-md">Login</button>

            <!-- Trigger the Register modal with a button -->
            <button type="button" id="registerBtn" class="btn btn-success btn-md">Register</button>
        </form>
    </div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/logIn.js"></script>
